[Desktop Entry]
Version=1.0
Type=Application
Name=Zoidbot
Comment=Manage and run powerful Large Language Models locally
GenericName=LLM Manager
Exec=zoidbot
Icon=zoidbot
Terminal=false
StartupNotify=true
Categories=Development;Utility;Network;
Keywords=LLM;AI;Machine Learning;Ollama;Local;Cloud;
MimeType=application/x-zoidbot;
StartupWMClass=Zoidbot
X-GNOME-SingleWindow=true
X-Ubuntu-Gettext-Domain=zoidbot
